@font-face {
    src: url('../Fonts/NunitoSans-Regular.ttf');
    font-family: "NunitoSans-Regular";
}

@font-face {
    src: url('../Fonts/YesevaOne-Regular.ttf');
    font-family: "YesevaOne-Regular";
}

body{
    margin: 0 auto;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.phone {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    margin-right: 45px;
    width: 171px;
    height: 16px;
}

.container{
    max-width: 1438px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    margin-right: 90px;
    font-size: 11px;
    height: 37px;
    width: 176px;
}

.logo{
    color: #E3B873;
    margin-left: 92px;
    width: 271px;
    height: 10px;
    font-size: 11px;
}

.header {
    background-color: black;
    margin: 0 auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    margin: 0 ;
}

.header-navigation {
    list-style: none;
    display: flex;
    font-size: 11px;
}

.header-navigation__item {
    margin-right: 47px;
}
.header-navigation__item a{
    text-decoration: none;
    color: white;
}

.header-navigation__item a:hover {
    color: rgba(227, 184, 115, 1);
}

.hero {
    background-image: url(../Images/body-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    text-align: left;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    padding-right: 628px;
    padding-bottom: 408px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text {
    margin: 0;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.textcolor {
    color: #E3B873;
}

.description {
    position: relative;
    background-size: cover;
    text-align: left;
    padding-top: 19px;
    padding-bottom: 300px;
}

.description-container {
    position: relative;
    z-index: 1;
}

.hero-container {
    position: relative;
    z-index: 1;
}

.buttonSubmit {
    background: transparent;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.buttons {
    position: absolute;
    top: 125px;
    background-size: cover;
    text-align: left;
    padding-top: 41px;
    padding-bottom: 208px;
}

.completed {
    background: #131313;
    background-size: cover;
    height: 1074px;
    border-radius: 0;
    margin: 0 auto;
    position: relative;
}

.main-navigation {
    list-style: none;
    display: flex;
    justify-content: right;
    height: 83px;
    align-items: center;
    padding-top: 107px;
    padding-right: 100px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin: 0;

}

.main-navigation_item {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    margin-right: 61px;
}

.main-navigation_item li {
    color: white;
    cursor: pointer;
	line-height: 1;
}

.main-navigation_item a::after {
    color: rgba(227, 184, 115, 1);
    cursor: pointer;
	line-height: 1;
}

.main-navigation_item a:hover {
    color: rgba(227, 184, 115, 1);
}

.main-navigation_item:after {
    display: block;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: rgba(227, 184, 115, 1);
	content: "";
    color: rgba(227, 184, 115, 1);
}

.main-navigation_item:hover::after,
.main-navigation_item:focus::after {
    width: 100%;
}


.item1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    left: 626px;
}

.mainphoto {
    display: flex;
    justify-content: right;
    position: relative;
    top: 0px;
    overflow: hidden;
    padding-top: 52px;
    padding-left: 50px;
    padding-right: 134px;
    width: 863px;
    margin-right: 0px;
    margin-left: 626px;
}

.mainphoto2 {
    position: absolute;
    top: 0px;
    margin-right: 134px;
    right: 134px;
    bottom: 416px;
    margin: 0 auto;
    overflow: hidden;
    z-index: -1;
    padding-left: 50px;
}

.title2 {
    width: 253px;
    height: 66px;
    position: absolute;
    margin: 0 auto;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 27px;
    padding-left: 132px;
    padding-top: 103px;
}


.text2 {
    position: absolute;
    margin: 0;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26.73px;
    color: #FFFFFF;
    padding-left: 132px;
    order: 1;
    padding-top: 137px;
    width: 574px;
    height: 362px;
    margin-right: 50px;

}

.h2 {
    margin-top: 0px;
    margin-bottom: 0px;

}

.complProjects {
    text-decoration: none;
    color: white;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 443px;
    padding: 0px;
    margin-top: 281px;
    margin-left: 134px;
}

.complProjects-text {
    text-decoration: none;
    color: white;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 443px;
    height: 162px;
    padding: 0px;
    margin-top: 312px;
    margin-left: 134px;
}

.complProjects-text_item {
    margin-right: ;
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.complProjects_item-City {
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
    margin-right: 124px;
    width: 66px;
    height: 22px;
}

.complProjects_item-area {
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
}

.complProjects_item-time {
    margin-right: 34px;
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
    width: 156px;
    height: 22px;
}

.complProjects_item-cost {
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
}

.complProjects-text_item-1 {
    margin-right: 29px;
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 161px;
    height: 42px;
}

.complProjects-text_item-2 {
    margin-right: 124px;
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 51px;
    height: 42px;

}

.complProjects-text_item-3 {
    margin-right: 87px;
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 103px;
    height: 24px;
}

.complProjects-text_item-4 {
    margin-right: ;
    margin-bottom: 85px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 115px;
    height: 24px;
}

