@font-face {
    src: url('../Fonts/NunitoSans-Regular.ttf');
    font-family: "NunitoSans-Regular";
}

@font-face {
    src: url('../Fonts/YesevaOne-Regular.ttf');
    font-family: "YesevaOne-Regular";
}

body{
    margin: 0;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.logo{
    color: #E3B873;
}

.header {
    background-color: black;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}
.header-navigation__item a{
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url(../Images/body-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    text-align: left;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    padding-right: 628px;
    padding-bottom: 408px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text {
    margin: 0;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.textcolor {
    color: #E3B873;
}

.description {
    position: relative;
    background-size: cover;
    text-align: left;
    padding-top: 19px;
    padding-bottom: 300px;
}

.description-container {
    position: relative;
    z-index: 1;
}

.hero-container {
    position: relative;
    z-index: 1;
}

.buttonSubmit {
    background: transparent;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.buttons {
    position: absolute;
    top: 125px;
    background-size: cover;
    text-align: left;
    padding-top: 41px;
    padding-bottom: 208px;
}